/* colors */
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #FFFFFF;    
    --additional-text-color: #757575;

    --accent-color: #2196F3;

    --primary-page-color: #FFFFFF;
    --secondary-page-color: #2F303A;
    --additional-page-color: #F5F4FA;

    --first-stroke-color: #ECECEC;
    --second-stroke-color: #EEEEEE;
}

/* preset */
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-text-color);
}

a,
ul,
li,
p,
h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    padding-left: 0px;
}

a :visited {
    color: var(--primary-text-color);
}

/*main page*/
body {
    font-family: 'Roboto';
    font-weight: 400;
    letter-spacing: 0.03em;
}

.main-container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.main {
    background-color: var(--primary-page-color);
    color: var(--primary-text-color);
}

/* body styles */
.header-container {
    display: flex;
    align-items: center;
    border: 1px solid var(--first-stroke-color);
}

header {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    margin-right: 90px;
}

header .name-part-2 {
    color: var(--primary-text-color);
}

.name-part-1 {
    color: var(--accent-color);
}

.navigation :hover {
    color: var(--accent-color);
}

.navigation .current {
    color: var(--accent-color);
}

.navigation-list {
    display: flex;
}

.navigation-list > .item:not(:last-child) {
    margin-right: 50px;
}

.header-info {
    display: flex;
    margin-left: auto;
}

.header-info .item:not(:last-child) {
    margin-right: 50px;
}

.mail,
.tel {
    color: var(--additional-text-color);
    font-weight: 500;
}

.mail:hover,
.tel:hover,
.mail:focus .tel:focus {
    color: var(--accent-color);
}

header .mail {
    margin-right: 50px;
}

.idea {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 95px;
    text-align: center;
    background-color: var(--secondary-page-color);
    color: var(--secondary-text-color);    
}

.tagline {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.6;
    text-transform: uppercase;
}

.order-button {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.06em
}

.features,
.examples {
    margin-bottom: 95px;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
}

.features-list > li {
    width: 240px;
}

.features-list > li:not(:last-child) {
    margin-right: 70px;
}

.features .header {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.features .text {
    color: var(--additional-text-color);
    font-size: 14px;
    line-height: 1.7;
}

.examples .header,
.team .header {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
}

.examples-list,
.team-list {
    display: flex;
    justify-content: space-between;
}

.team {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--additional-page-color);
    font-size: 16px;
    line-height: 1.2;
}

.team .name,
.team .position {
    text-align: center;
}

.team .name {
    font-weight: 500;
}

.team .position {
    color: var(--additional-text-color);
}

/* footer */
footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-page-color);
    color: var(--secondary-text-color);
}

footer .name-part-2 {
    color: var(--secondary-text-color);
}

footer .mail,
footer .tel {
    color: rgba(255, 255, 255, 0.6);
}

.company-info > .tel {
    display: block;
}

.company-info {
    font-size: 14px;
    line-height: 1.7;
}

address {
    font-style: normal;
}

/* porfolio page */
.portfolio .header-container,
.portfolio .main-content {
    margin-bottom: 95px;
}

.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filters-list .item:not(:last-child) {
    margin-right: 10px;
}

.filters button {
    background-color: var(--additional-page-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.65;
    letter-spacing: 0.03em;
    border-radius: 5px;
    border: 0;
}

.filters button:hover,
.filters button:focus {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
}

.projects-list .item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.projects-list .item:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}

.projects-list .item {
    width: 370px;
    border: 1px solid var(--second-stroke-color);
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.project-type {
    color: var(--additional-text-color);
    font-size: 16px;
    line-height: 2;
}
